{% extends "base.html" %}
{% block title %}Password reset complete{% endblock title %}

{% block content %}
    <!-- Banner / Hero Section with background image -->
    <div
            class="position-relative"
            style="
                    /*background: url('http://jump2026.com/Letterhead.png') no-repeat center center/cover;*/
    background: linear-gradient(180deg, #ffa90a, #ff1d8e);
                    height: 400px;
                    width: 100%;
                    "
    >
    </div>

    <!-- Main Container -->
    <div class="container py-4" style="margin-top: -80px;">
        <!-- Card that appears over the banner -->
        <div
                class="card mx-auto border-0 shadow"
                style="max-width: 800px; border-radius: 8px;"
        >
            <div class="card-body p-4">

                <h2 class="mb-1">Password reset complete</h2>
                <p class="text-muted mb-2">Your new password has been set.</p>
                <p class="text-muted mb-2">You can log in now on the
                    <a href="{% url 'login' %}">Log In page</a>.</p>
            </div>
        </div>
    </div>
{% endblock content %}
