.pxn-5 {
    padding-left: 5em;
    padding-right: 5em;
}

.margin-auto {
    margin: 0 auto;
}

.py-6 {
    padding-top: 6em;
    padding-bottom: 6em;
}

.box-caption {
    background-color: #002B36;
    color: white;
    width: 100%;
    height: 200px;
    padding-top: 2em;
}
.view-fix{
    min-height: calc(100vh - 140px);
}

.bold {
    font-weight: bold;
}

.rem-12 {
    width: 12rem;
}

a {
    text-decoration: none;
}

.px-10em {
    padding-left: 10em;
    padding-right: 10em;
}

.no-border-color {
    border-color: rgba(255, 255, 255, 0) !important;
}

.animate-on-scroll {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animate-on-scroll.visible {
    opacity: 1;
}

.navbar-shadow {
    box-shadow: 0 4px 8px -2px rgba(128, 128, 128, 0.76);
}

.seminar-list-container {
    width: 25%;
}

.img-about-us {
    max-height: 400px;
}

.zoom-effect-container {
    overflow: hidden;
}

.zoom-effect-container img {
    transition: transform 0.3s ease;
}

.zoom-effect-container img:hover {
    transform: scale(1.1);
}

.title-big {
    font-size: xxx-large;
}

.border-cart {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}

.checkout {
    width: 70%;
}

.checkout-font-size {
    font-size: medium;
}

.no-margin-bt {
    margin-bottom: 0;
}

.border-checkout {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(78, 78, 78, 0.18);
    width: 80%;
    justify-content: left;
    margin-bottom: 1em
}

.border-instruction {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(78, 78, 78, 0.18);
    padding-left: 1.2em;
    padding-top: 1em;
}

.media-icons {
    justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
    .px-10em {
        padding-left: 2em;
        padding-right: 2em;
    }

    .checkout {
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    .mt-r-3 {
        margin-top: 2em;
    }


}

@media only screen and (max-width: 600px) {
    .pxn-5 {
        padding-left: 2em;
        padding-right: 2em;
    }

    .pad-phone {
        padding-left: 2em;
        padding-right: 2em;
    }

    .border-cart {
        border-width: 0;
        text-align: center;
    }

    .fix-ul {
        padding-left: 0 !important;
    }

    .checkout {
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
    }

    .media-icons {
        justify-content: center;
        align-content: center;
        margin: 0 auto;
    }
}
