<!-- payment_received.html -->
{% load custom_filters %}
<!DOCTYPE html>
<html>
<head>
    <title>Konfirmasi Pesanan untuk {{ user.username }}</title>
</head>
<body>
    <img src="https://jump2025.com/Letterhead.png" alt="Gambar Header" style="width: 100%; max-width: 600px;">
    <h1>Terima kasih atas pesanan Anda, {{ user.nama_lengkap }}!</h1>
    <p>Pesanan Anda telah diterima dan sedang diproses. Berikut adalah detailnya:</p>
    <p><strong>ID Pesanan:</strong> {{ order.id }}</p>
    <p><strong>Total:</strong> {{ total|idr_format }}</p>
    <h3>Ringkasan Pesanan</h3>
    <ul>
        {% for item in cart.cartitem_set.all %}
        <li>{{ item.ticket_category.seminar.title }} - {{ item.ticket_category.name }} - Jumlah: {{ item.quantity }}</li>
        {% endfor %}
    </ul>
    <p>Jika Anda memiliki pertanyaan atau membutuhkan bantuan lebih lanjut, silakan hubungi tim dukungan kami.</p>
    <p>Salam hangat,</p>
    <p>Panitia Jakarta Urology Medical Update</p>
</body>
</html>