{% load static %}
{% extends 'base.html' %}
{% block title %}About Us | Jump {% now "Y" %}{% endblock title %}

{% block content %}
    <div class="bg-light d-flex flex-column justify-content-center py-6 animate-on-scroll">
        <div class="d-flex flex-column justify-content-center margin-auto text-center">
            <h1>{{ landing.header_section_two }}</h1>
            <h3>{{ landing.text_section_two }}</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div>

            </div>
            <div>

            </div>
        </div>
        <div class="row">
            <img src="" alt="A past picture of Jakarta Urology Medical Update seminar in a prestigious hotel">
        </div>
    </div>
    <div class="bg-light d-flex flex-column justify-content-center py-6 animate-on-scroll">
        <div class="d-flex flex-column justify-content-center margin-auto text-center">
            <h1>{{ landing.header_section_two }}</h1>
            <h3>{{ landing.text_section_two }}</h3>
        </div>

    </div>
{% endblock content %}