{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="JUMP 2025 or Jakarta Urology Medical Update {% now "Y" %}, is a yearly seminar and workshop hosted by Department of Urologi RSCM-FKUI, to give the latest knowledge update on Urology field">
    <meta name="author"
          content="Aulia Rahman Ardan">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %}" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}"/>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}"/>
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}"/>
    <!-- Others -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.min.css"/>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script>
        var cartItemCountUrl = "{% url 'cart_item_count' %}";
    </script>
    <script src="{% static 'js/cart.js' %}" defer></script>
    {% block head %}{% endblock head %}
    <!-- Style -->
    <style>
        body {
            font-family: 'Poppins';
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg header-gradient sticky-sm-top pxn-5 sticky-top">
    <div class="container-fluid">
        <a href="/" class="navbar-brand d-inline-flex link-body-emphasis text-decoration-none col-lg-3 me-0">
            <!--<span class="fs-4" style="font-weight: bold; color: white !important;">JUMP 2025</span>-->
            <img src="{% static 'images/logo_bulat_transparan.PNG' %}" alt="Logo" style="height: 40px;"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06"
                aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarsExample06" class="collapse navbar-collapse">

            <ul class="navbar-nav col-xl-9 justify-content-lg-center">
                <li><a href="{% url 'seminar_list' %}" class="nav-link px-2">Home</a></li>
                <li><a href="{% url 'sponsors' %}" class="nav-link px-2">Sponsors</a></li>
                <li><a href="{% url 'about_us' %}" class="nav-link px-2">About Us</a></li>
                <li><a href="{% url 'seminar_page' %}" class="nav-link px-2">Seminar</a></li>
                <li><a href="{% url 'workshop_page' %}" class="nav-link px-2">Workshops</a></li>
                <li><a href="{% url 'scicom_page' %}" class="nav-link px-2">Scientific Competition</a></li>
            </ul>
            <div class="d-lg-flex col-xl-3 justify-content-lg-end align-items-center">
                {% if user.is_authenticated %}
                    <span class="navbar-text" >
                       {% if user.is_staff %}
                           <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                              href="{% url 'admin_dashboard' %}">{{ user.username }}</a>
                       {% else %}
                           <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                              href="{% url 'order_history' %}">{{ user.username }}</a>
                       {% endif %}
                        <a class="rounded-circle link-dark"
                       href="{% url 'cart_detail' %}">
                        <svg id="cart-icon"
                             xmlns="http://www.w3.org/2000/svg"
                             width="24" height="24"
                             viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-shopping-cart text-white">
                            <circle cx="9" cy="21" r="1"></circle>
                            <circle cx="20" cy="21" r="1"></circle>
                            <path d="M1 1h4l2.68 13.39a1 1 0 0
                                     0 .92.61h9.72a1 1 0 0 0
                                     .97-.76l1.38-5.52H6.5">
                            </path>
                        </svg>
                    </a>
                    <form id="logout-form" action="{% url 'logout' %}" method="post"
                          style="display: inline; margin-left: 2px">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" type="submit">Logout</button>
                        </form>
                    </span>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-light me-2" role="button">Login</a>
                    <a href="{% url 'signup' %}" class="btn btn-light" role="button">Sign-up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% block content %}
{% endblock content %}

<footer class="footer-gradient text-white pt-5 pb-4">
    <div class="container">
        <div class="row">

            <!-- Left Column: Logos + Organization Info -->
            <div class="col-md-4 mb-4">
                <!-- Logo Row -->
                <div class="d-flex align-items-center mb-4">
                    <!-- Replace logo1.png / logo2.png with your actual logo paths -->
                    <img src="{% static 'images/logo_bulat_transparan.PNG' %}" alt="Logo 1" class="me-2" style="height: 60px;"/>
                    <img src="{% static 'images/logo_iaui.png' %}" alt="Logo 2" class="me-2" style="height: 40px;"/>
                    <!-- Add more logos if needed -->
                </div>

                <!-- Organized by & Address -->
                <h6 class="mt-2 mb-3" style="font-weight: bold; font-size: 1.3em">Organized by:</h6>
                <p class="mb-4">Departemen Urologi FKUI-RSCM</p>
                <p class="mb-1">Fakultas Kedokteran Universitas Indonesia</p>
                <p class="mb-1">Rumah Sakit Dr. Cipto Mangunkusumo</p>
                <p class="mb-5">Jl. Salemba Raya No. 6, Jakarta Pusat</p>

                <!-- Get in Touch -->
                <h6 class="mb-2" style="font-weight: bold; font-size: 1.3em">Get in touch with us</h6>
                <p class="mb-4">Contact us for the latest news and info</p>
                <div>
                    <!-- Email Icon Link -->
                    <a href="mailto:urology.jump@gmail.com" class="text-white me-3">
                        <i class="bi bi-envelope-fill" style="font-size: 1.5rem;"></i>
                    </a>
                    <!-- Instagram Icon Link -->
                    <a href="https://www.instagram.com/jakartaurologymedicalupdate/" target="_blank" rel="noopener noreferrer"
                       class="text-white me-3">
                        <i class="bi bi-instagram" style="font-size: 1.5rem;"></i>
                    </a>
                    <!-- Add more social icons if needed -->
                </div>
            </div>

            <!-- Middle Column: Useful Links -->
            <div class="col-md-4 mb-4">
                <h5>Useful Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'seminar_list' %}" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="{% url 'seminar_list' %}#sponsor-section" class="text-white text-decoration-none">Sponsors</a>
                    </li>
                    <li><a href="{% url 'about_us' %}" class="text-white text-decoration-none">Contact Us</a></li>
                    <li><a href="{% url 'seminar_page' %}" class="text-white text-decoration-none">Seminar</a></li>
                    <li><a href="{% url 'workshop_page' %}" class="text-white text-decoration-none">Workshops</a></li>
                    <li><a href="{% url 'scicom_page' %}" class="text-white text-decoration-none">Scientific
                        Competition</a></li>
                </ul>
            </div>

            <!-- Right Column: Conference Organizer -->
            <div class="col-md-4 mb-4">
                <p>©{% now "Y" %} Departemen Urologi RSCM-FKUI</p>
            </div>

        </div>
    </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible');
                }
            });
        });

        const elements = document.querySelectorAll('.animate-on-scroll');
        elements.forEach(element => observer.observe(element));
    });

    $(window).on('scroll', function () {
        var navbar = $('.navbar');
        if ($(this).scrollTop() > 0) {
            navbar.addClass('navbar-shadow');
        } else {
            navbar.removeClass('navbar-shadow');
        }
    });
</script>
</body>