{% extends 'base.html' %}
{% load static %}
{% block title %}Jump 2025{% endblock title %}

{% block content %}
    <!-- Partner Section -->
    {% if platinum_sponsors_with_banners %}
        <div id="partner-section" class="position-relative">
            <div id="partner-carousel" class="carousel slide" data-bs-ride="carousel">
                <!-- Close Button -->
                <button type="button"
                        class="btn-close bg-body rounded position-absolute top-0 end-0 translate-middle-x m-2"
                        aria-label="Close" style="z-index: 10;"></button>
                <div class="carousel-inner">
                    {% for sponsor in platinum_sponsors_with_banners %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            {% if sponsor.banner %}
                                <img src="{{ sponsor.banner.url }}" class="d-block w-100" alt="{{ sponsor.name }}"
                                     style="max-height: 300px; object-fit: cover;">
                            {% else %}
                                <p>Image not Found</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% if platinum_sponsors_with_banners|length > 1 %}
                    <!-- Controls only if more than one banner -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#partner-carousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#partner-carousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <!-- End of Partner Section -->
    <!-- Hero Section -->
    <div class="hero-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h1 class="hero-title">{{ landing.header_section_one }}</h1>
                    <p class="hero-subtitle">{{ landing.text_section_one }}</p>
                    <!-- Hero Section <h1 class="hero-title">Elevate Your Urology Practice</h1>
                    <p class="hero-subtitle">Join our cutting-edge seminars and workshops on the latest advancements in
                    Urology. Limited seats available!</p> -->
                    <div class="hero-cta">
                        <a href="#" id="scrollButton" class="btn btn-primary btn-lg me-3">Reserve Now</a>
                        <a href="{% url 'about_us' %}" class="btn btn-outline-primary btn-lg">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="{{ landing.image_section_one.url }}" alt="Urology Conference"
                         class="img-fluid hero-image">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <h2 class="text-center">Next Event Countdown</h2>
                    <div id="countdown" class="d-flex justify-content-center mt-3">
                        <div class="countdown-item">
                            <span id="days">00</span>
                            <p>Days</p>
                        </div>
                        <div class="countdown-item">
                            <span id="hours">00</span>
                            <p>Hours</p>
                        </div>
                        <div class="countdown-item">
                            <span id="minutes">00</span>
                            <p>Minutes</p>
                        </div>
                        <div class="countdown-item">
                            <span id="seconds">00</span>
                            <p>Seconds</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Hero Section -->
    <!-- Welcoming Speech Section -->
    <div class="bg-light py-6 animate-on-scroll">
        <div class="container">
            <h2 class="text-center mb-4 ">Welcome to JUMP 2025</h2>
            <p class="text-center mb-5">Hear from our esteemed organizers and keynote speakers</p>

            <div id="welcomeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for speech in landing.welcoming.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <h3 class="text-center fw-bold">{{ speech.title }}</h3>
                                    <div class="card bg-white shadow rounded-4 mt-4">
                                        <div class="card-body p-5">
                                            {% if speech.image %}
                                                <img class="rounded-circle mx-auto d-block"
                                                     style="width: 200px; height: 200px; object-fit: cover;"
                                                     src="{{ speech.image.url }}"
                                                     alt="A Picture of {{ speech.name }}"
                                                     loading="lazy">
                                            {% else %}
                                                <p class="text-center">No image available</p>
                                            {% endif %}
                                            <h4 class="text-center fw-bold mt-4">{{ speech.name }}</h4>
                                            <div class="mt-4">
                                                <p class="card-text text-start">{{ speech.speech|linebreaks }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#welcomeCarousel"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#welcomeCarousel"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-- Carousel Indicators -->
            <div class="text-center mt-4">
                <div class="carousel-indicators position-relative">
                    {% for speech in landing.welcoming.all %}
                        <button type="button" data-bs-target="#welcomeCarousel"
                                data-bs-slide-to="{{ forloop.counter0 }}"
                                class="bg-primary {% if forloop.first %}active{% endif %}"
                                aria-current="{% if forloop.first %}true{% else %}false{% endif %}"
                                aria-label="Slide {{ forloop.counter }}"></button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End of Welcoming Speech Section -->
    <!-- Section Seminar and WS Card -->
    <div class="bg-light d-flex flex-column justify-content-center py-6 animate-on-scroll">
        <div class="d-flex flex-column justify-content-center margin-auto text-center pad-phone">
            <h1 style="font-weight: bold">{{ landing.header_section_two }}</h1>
            <h3>{{ landing.text_section_two }}</h3>
        </div>
        <div class="container text-center mt-5">
            <div class="row px-10em">
                <div class="col-lg mx-2 mt-r-3">
                    <a href="{% url 'seminar_page' %}" class="card no-border-color">
                        <div class="zoom-effect-container">
                            {% if landing.image_section_two_left %}
                                <img src="{{ landing.image_section_two_left.url }}"
                                     class="img-fluid card-img-top"
                                     alt="Jakarta Urology Medical Update Seminar past events documentation"
                                     width="100%"
                                     height="600px" loading="lazy" style="max-height: 500px; object-fit: cover;">
                            {% else %}
                                <p>Image not Found</p>
                            {% endif %}
                        </div>
                        <div class="box-caption card-body">
                            <h2 class="card-title bold">{{ landing.image_section_two_header_left }}</h2>
                            <p class="card-text">{{ landing.image_section_two_text_left }}</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg mx-2 mt-r-3">
                    <a href="{% url 'workshop_page' %}" class="card no-border-color"
                       style="border-color: rgba(255,255,255,0) !important;">
                        <div class="zoom-effect-container">
                            {% if landing.image_section_two_right %}
                                <img src="{{ landing.image_section_two_right.url }}"
                                     class="img-fluid card-img-top"
                                     alt="Jakarta Urology Medical Update Workshop past events documentations"
                                     width="100%"
                                     height="600px" loading="lazy" style="max-height: 500px; object-fit: cover;">
                            {% else %}
                                <p>Image not Found</p>
                            {% endif %}
                        </div>

                        <div class="box-caption card-body">
                            <h2 class="card-title bold">{{ landing.image_section_two_header_right }}</h2>
                            <p class="card-text">{{ landing.image_section_two_header_right }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Section Seminar and WS Card -->
    {% include 'tickets/seminar_list.html' with seminars=seminar_list %}
    <!-- Start of Timeline Section -->
    <div class="container py-6" id="timeline-section">
        <h2 class="text-center mb-5">Event Timeline</h2>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="timeline-container">
                    {% for seminar in seminars_all %}
                        <div class="timeline-item">
                            <div class="timeline-icon bg-primary">
                                <i class="bi {% if 'Workshop' in seminar.title %}bi-tools{% else %}bi-mic-fill{% endif %} text-white"></i>
                            </div>
                            <div class="timeline-content">
                                <h3>{{ seminar.title }}</h3>
                                <p class="text-muted">
                                    <i class="bi bi-calendar-event me-2"></i>{{ seminar.date|date:"d-m-Y" }}
                                    <i class="bi bi-clock ms-3 me-2"></i>{{ seminar.date|date:"H:i" }}
                                </p>
                                <p><i class="bi bi-geo-alt-fill me-2"></i>{{ seminar.location }}</p>
                                <a href="{% url 'seminar_detail' seminar.id %}" class="btn btn-outline-primary btn-sm">Learn
                                    More</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End of Timeline Section -->
    <div id="sponsor-section" class="bg-light py-6 animate-on-scroll sponsors-section">
        <div class="container" style="max-width: 75%;">
            <h2 class="text-center mb-5 fw-bold">Our Sponsors</h2>

            <!-- Video Section -->
            {% if sponsors %}
                <div class="container">
                    <div class="row justify-content-center">
                        {% for sponsor in sponsors %}
                            {% if sponsor.youtube_video_id %}
                                <div class="col-12 col-md-8 mb-5">
                                    <h4 class="sponsor-name text-center mt-3">{{ sponsor.name }}</h4>
                                    <div class="ratio ratio-16x9">
                                        <iframe src="https://www.youtube.com/embed/{{ sponsor.youtube_video_id }}"
                                                title="YouTube video"
                                                allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <!-- Platinum Sponsors -->
            {% if platinum_sponsors %}
                <h3 class="text-center fw-bold">Platinum</h3>
                <div class="row justify-content-center">
                    {% for sponsor in platinum_sponsors %}
                        <div class="col-12 col-md-6 col-lg-4 mb-4 text-center platinum-sponsor">
                            <div class="sponsor-card p-3 shadow bg-white rounded">
                                <img src="{{ sponsor.image.url }}" alt="{{ sponsor.name }}"
                                     class="img-fluid sponsor-logo">
                                <h4 class="sponsor-name mt-3">{{ sponsor.name }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Gold Sponsors -->
            {% if gold_sponsors %}
                <h3 class="text-center mt-5 fw-bold">Gold</h3>
                <div class="row justify-content-center">
                    {% for sponsor in gold_sponsors %}
                        <div class="col-12 col-md-4 col-lg-3 mb-4 text-center gold-sponsor">
                            <div class="sponsor-card p-3 shadow bg-white rounded">
                                <img src="{{ sponsor.image.url }}" alt="{{ sponsor.name }}"
                                     class="img-fluid sponsor-logo">
                                <!-- Sponsor Name
                                <h4 class="sponsor-name mt-2">{{ sponsor.name }}</h4>
                                -->
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Silver Sponsors -->
            {% if silver_sponsors %}
                <h3 class="text-center mt-5 fw-bold">Silver</h3>
                <div class="row justify-content-center">
                    {% for sponsor in silver_sponsors %}
                        <div class="col-6 col-md-4 col-lg-2 mb-4 text-center silver-sponsor">
                            <div class="sponsor-card p-2 shadow bg-white rounded">
                                <img src="{{ sponsor.image.url }}" alt="{{ sponsor.name }}"
                                     class="img-fluid sponsor-logo">
                                <!-- Uncomment the line below if you want to display the sponsor's name -->
                                <!-- <h4 class="sponsor-name mt-2">{{ sponsor.name }}</h4> -->
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- End of Sponsor Section -->
    <div class="animate-on-scroll py-6 pxn-5 hero-section">
        <div class="row">
            <div class="col-lg">
                <h1 style="font-weight: bold">{{ landing.header_section_three }}</h1>
                <p class="lead mb-4">{{ landing.text_section_three }}</p>
                <a href="{% url 'about_us' %}" class="btn btn-primary btn-lg px-4 me-md-2" role="button">About Us</a>
            </div>
            {% if landing.image_section_three_left %}
                <img src="{{ landing.image_section_three_left.url }}"
                     class="img-fluid rounded-4 col-lg mt-r-3"
                     alt="Jakarta Urology Medical Update Workshop past events documentations"
                     height="600px" loading="lazy" style="max-height: 400px">
            {% else %}
                <p>Image not Found</p>
            {% endif %}
            {% if landing.image_section_three_right %}
                <img src="{{ landing.image_section_three_right.url }}"
                     class="img-fluid rounded-4 col-lg mt-r-3"
                     alt="Jakarta Urology Medical Update Workshop past events documentations"
                     height="600px" loading="lazy" style="max-height: 400px">
            {% else %}
                <p>Image not Found</p>
            {% endif %}
        </div>
    </div>

    {% if next_seminar %}
        <script>
            // Set the date we're counting down to
            var countDownDate = new Date("{{ next_seminar.date|date:'Y-m-d H:i:s' }}").getTime();

            // Update the count-down every 1 second
            var x = setInterval(function () {

                // Get today's date and time
                var now = new Date().getTime();

                // Find the time remaining
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("days").innerHTML = days.toString().padStart(2, '0');
                document.getElementById("hours").innerHTML = hours.toString().padStart(2, '0');
                document.getElementById("minutes").innerHTML = minutes.toString().padStart(2, '0');
                document.getElementById("seconds").innerHTML = seconds.toString().padStart(2, '0');

                // If the count down is over, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("countdown").innerHTML = "Event has started!";
                }
            }, 1000);
        </script>
    {% endif %}

    <script>
        $(document).ready(function () {
            $('#scrollButton').click(function (event) {
                event.preventDefault();
                $('html, body').animate({
                    scrollTop: $('#scroll_here').offset().top
                }, 'smooth');
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const adsSection = document.getElementById('partner-section');
            const closeButton = adsSection.querySelector('.btn-close');

            closeButton.addEventListener('click', function () {
                adsSection.style.display = 'none';
            });
        });
    </script>
{% endblock content %}