{% extends 'base.html' %}
{% load static %}
{% block title %}Jump 2025{% endblock title %}

{% block content %}
    <div class="pxn-5 col-xxl-8 py-5 animate-on-scroll" style="width: 100%; background: rgba(144,173,198,0.33)">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ landing.image_section_one.url }}" class="d-block mx-lg-auto img-fluid"
                     alt="Jakarta Urology Medical Update past events documentation"
                     width="700"
                     height="500" loading="lazy" style="max-height: 500px">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ landing.header_section_one }}</h1>
                <p class="lead">{{ landing.text_section_one }}</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="#" id="scrollButton" class="btn btn-primary btn-lg px-4 me-md-2" role="button">Reserve
                        Now</a>
                    <a href="{% url 'about_us' %}" class="btn btn-outline-secondary btn-lg px-4" role="button">Learn
                        More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Welcoming Speech Section -->
    <div class="bg-light py-6 animate-on-scroll">
        <div class="container">
            <div class="text-center">
                <h1 class="fw-bold">Welcoming Message</h1>
            </div>
            {% for speech in landing.welcoming.all %}
                <div class="row mt-5 justify-content-center">
                    <div class="col-md-8">
                        <h3 class="text-center fw-bold">{{ speech.title }}</h3>
                        <div class="card bg-white shadow rounded-4 mt-4">
                            <div class="card-body p-5">
                                {% if speech.image %}
                                    <img class="rounded-circle mx-auto d-block"
                                         style="width: 200px; height: 200px; object-fit: cover;"
                                         src="{{ speech.image.url }}"
                                         alt="A Picture of {{ speech.name }}"
                                         loading="lazy">
                                {% else %}
                                    <p class="text-center">No image available</p>
                                {% endif %}
                                <h4 class="text-center fw-bold mt-4">{{ speech.name }}</h4>
                                <div class="mt-4">
                                    <p class="card-text text-start">{{ speech.speech|linebreaks }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- End of Welcoming Speech Section -->
    <!-- Section Seminar and WS Card -->
    <div class="bg-light d-flex flex-column justify-content-center py-6 animate-on-scroll">
        <div class="d-flex flex-column justify-content-center margin-auto text-center pad-phone">
            <h1 style="font-weight: bold">{{ landing.header_section_two }}</h1>
            <h3>{{ landing.text_section_two }}</h3>
        </div>
        <div class="container text-center mt-5">
            <div class="row px-10em">
                <div class="col-lg mx-2 mt-r-3">
                    <a href="{% url 'seminar_page' %}" class="card no-border-color">
                        <div class="zoom-effect-container">
                            <img src="{{ landing.image_section_two_left.url }}"
                                 class="img-fluid rounded-4 card-img-top"
                                 alt="Jakarta Urology Medical Update Seminar past events documentation"
                                 width="100%"
                                 height="600px" loading="lazy" style="max-height: 500px">
                        </div>
                        <div class="box-caption card-body">
                            <h2 class="card-title bold">{{ landing.image_section_two_header_left }}</h2>
                            <p class="card-text">{{ landing.image_section_two_text_left }}</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg mx-2 mt-r-3">
                    <a href="{% url 'workshop_page' %}" class="card no-border-color"
                       style="border-color: rgba(255,255,255,0) !important;">
                        <div class="zoom-effect-container">
                            <img src="{{ landing.image_section_two_right.url }}"
                                 class="img-fluid rounded-4 card-img-top"
                                 alt="Jakarta Urology Medical Update Workshop past events documentations"
                                 width="100%"
                                 height="600px" loading="lazy" style="max-height: 500px">
                        </div>

                        <div class="box-caption card-body">
                            <h2 class="card-title bold">{{ landing.image_section_two_header_right }}</h2>
                            <p class="card-text">{{ landing.image_section_two_header_right }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Section Seminar and WS Card -->
    {% include 'tickets/seminar_list.html' with seminars=seminar_list %}
    <!-- Start of Sponsor Section -->
    <div class="bg-light py-6 animate-on-scroll sponsors-section">
        <div class="container" style="max-width: 75%;">
            <h2 class="text-center mb-5 fw-bold">Our Sponsors</h2>

            <!-- Video Section -->
            {% if sponsors %}
                <div class="container">
                    <div class="row justify-content-center">
                        {% for sponsor in sponsors %}
                            {% if sponsor.youtube_video_id %}
                                <div class="col-12 col-md-8 mb-5">
                                    <h4 class="sponsor-name text-center mt-3">{{ sponsor.name }}</h4>
                                    <div class="ratio ratio-16x9">
                                        <iframe src="https://www.youtube.com/embed/{{ sponsor.youtube_video_id }}"
                                                title="YouTube video"
                                                allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <!-- Platinum Sponsors -->
            {% if platinum_sponsors %}
                <h3 class="text-center fw-bold">Platinum</h3>
                <div class="row justify-content-center">
                    {% for sponsor in platinum_sponsors %}
                        <div class="col-12 col-md-6 col-lg-4 mb-4 text-center platinum-sponsor">
                            <div class="sponsor-card p-3 shadow bg-white rounded">
                                <img src="{{ sponsor.image.url }}" alt="{{ sponsor.name }}"
                                     class="img-fluid sponsor-logo">
                                <h4 class="sponsor-name mt-3">{{ sponsor.name }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Gold Sponsors -->
            {% if gold_sponsors %}
                <h3 class="text-center mt-5 fw-bold">Gold</h3>
                <div class="row justify-content-center">
                    {% for sponsor in gold_sponsors %}
                        <div class="col-12 col-md-4 col-lg-3 mb-4 text-center gold-sponsor">
                            <div class="sponsor-card p-3 shadow bg-white rounded">
                                <img src="{{ sponsor.image.url }}" alt="{{ sponsor.name }}"
                                     class="img-fluid sponsor-logo">
                                <!-- Sponsor Name
                                <h4 class="sponsor-name mt-2">{{ sponsor.name }}</h4>
                                -->
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Silver Sponsors -->
            {% if silver_sponsors %}
                <h3 class="text-center mt-5 fw-bold">Silver</h3>
                <div class="row justify-content-center">
                    {% for sponsor in silver_sponsors %}
                        <div class="col-6 col-md-4 col-lg-2 mb-4 text-center silver-sponsor">
                            <div class="sponsor-card p-2 shadow bg-white rounded">
                                <img src="{{ sponsor.image.url }}" alt="{{ sponsor.name }}"
                                     class="img-fluid sponsor-logo">
                                <!-- Uncomment the line below if you want to display the sponsor's name -->
                                <!-- <h4 class="sponsor-name mt-2">{{ sponsor.name }}</h4> -->
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- End of Sponsor Section -->


    <div class="animate-on-scroll py-6 bg-dark-subtle pxn-5">
        <div class="row">
            <div class="col-lg">
                <h1 style="font-weight: bold">{{ landing.header_section_three }}</h1>
                <p>{{ landing.text_section_three }}</p>
                <a href="{% url 'about_us' %}" class="btn btn-primary btn-lg px-4 me-md-2" role="button">About Us</a>
            </div>
            <img src="{{ landing.image_section_three_left.url }}"
                 class="img-fluid rounded-4 col-lg mt-r-3"
                 alt="Jakarta Urology Medical Update Workshop past events documentations"
                 height="600px" loading="lazy" style="max-height: 400px">
            <img src="{{ landing.image_section_three_right.url }}"
                 class="img-fluid rounded-4 col-lg mt-r-3"
                 alt="Jakarta Urology Medical Update Workshop past events documentations"
                 height="600px" loading="lazy" style="max-height: 400px">
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#scrollButton').click(function (event) {
                event.preventDefault();
                $('html, body').animate({
                    scrollTop: $('#scroll_here').offset().top
                }, 'smooth');
            });
        });
    </script>
{% endblock content %}