{% extends 'base.html' %}
{% block title %}Scientific Competition | JUMP 2026{% endblock title %}


{% block content %}
    <div class="bg-light py-6 animate-on-scroll">
        <div class="container-fluid"> <!-- Changed to container-fluid for full-width -->
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center"> <!-- Increased column width -->
                    <h1 class="bold">JUMP 2026 <br>Scientific Competition Rules</h1>
                    {% if scicom_rules %}
                        <div class="accordion custom-accordion mt-5" id="accordionPanelsStayOpenExample">
                            {% for rule in scicom_rules %}
                                <div class="accordion-item mb-4">
                                    <h2 class="accordion-header" id="panelsStayOpen-heading{{ forloop.counter }}">
                                        <button class="accordion-button text-white {% if not forloop.first %}collapsed{% endif %} footer-gradient"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#panelsStayOpen-collapse{{ forloop.counter }}"
                                                aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                                                aria-controls="panelsStayOpen-collapse{{ forloop.counter }}">
                                            {{ rule.rule_name }}
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapse{{ forloop.counter }}"
                                         class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                                         aria-labelledby="panelsStayOpen-heading{{ forloop.counter }}">
                                        <div class="accordion-body">
                                            <ul>
                                                {% for line in rule.get_description_lines %}
                                                    {% if line.strip %}
                                                        <li>{{ line }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                            {% if rule.pdf_file %}
                                                <a class="btn btn-primary mt-3"
                                                   href="{{ rule.pdf_file.url }}">Download the guideline as PDF</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>No rules available.</p>
                    {% endif %}
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h4 class="bold mb-4">Join Now</h4>
                        <a href="{% url 'submit_accepted_abstract' %}" class="btn btn-success mx-auto ">Accepted Submission</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'tickets/seminar_list.html' with seminars=seminar_list %}
    <div class="animate-on-scroll py-5 bg-light pxn-5">
        <div class="bg-light d-flex flex-column justify-content-center py-4">
            <div class="d-flex flex-column justify-content-center margin-auto text-center pad-phone">
                <h1 class="bold">Past Events</h1>
                <h3>{{ seminars.text_section_two }}</h3>
            </div>
        </div>
        <div class="container margin-auto animate-on-scroll">
            <div class="row">
                <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-inner">
                        {% for image in images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image.url }}" class="d-block carousel-custom-width"
                                     alt="A picture of past Scientific Competitions">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
