{% extends 'base.html' %}
{% block title %}Scientific Competition | Jump {% now "Y" %}{% endblock title %}


{% block content %}
    <div class="bg-light py-6 animate-on-scroll">
        <div class="container-fluid"> <!-- Changed to container-fluid for full-width -->
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center"> <!-- Increased column width -->
                    <h1 class="bold mb-5">JUMP 2025 <br>Scientific Competition Rules</h1>
                    {% if scicom_rules %}
                        <div class="accordion mt-5" id="accordionPanelsStayOpenExample">
                            {% for rule in scicom_rules %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-heading{{ forloop.counter }}">
                                        <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#panelsStayOpen-collapse{{ forloop.counter }}"
                                                aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                                                aria-controls="panelsStayOpen-collapse{{ forloop.counter }}">
                                            {{ rule.rule_name }}
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapse{{ forloop.counter }}"
                                         class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                                         aria-labelledby="panelsStayOpen-heading{{ forloop.counter }}">
                                        <div class="accordion-body">
                                            <ul>
                                                {% for line in rule.get_description_lines %}
                                                    {% if line.strip %}
                                                        <li>{{ line }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                            {% if rule.pdf_file %}
                                                <object data="{{ rule.pdf_file.url }}" type="application/pdf"
                                                        width="100%" height="600px">
                                                    <p>Your browser does not support viewing PDFs inline. <a
                                                            href="{{ rule.pdf_file.url }}">Download the PDF</a>.</p>
                                                </object>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>No rules available.</p>
                    {% endif %}
                </div>
                <div class="row mt-5 justify-content-center">
                    {% if qrcode %}
                        <div class="col-lg-8 text-center">
                            <h4 class="bold mb-4">Join Now</h4>
                            <a href="{{ qrcode.link }}" target="_blank">
                                <img src="{{ qrcode.image.url }}" alt="QR Code Image"
                                     class="img-fluid rounded shadow mx-auto d-block" style="max-width: 200px;">
                            </a>
                            <p class="mt-3">Click Image or Scan</p>
                        </div>
                    {% else %}
                        <p class="text-center">Qr code not available</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'tickets/seminar_list.html' with seminars=seminar_list %}
    <div class="animate-on-scroll py-5 bg-light pxn-5">
        <div class="bg-light d-flex flex-column justify-content-center py-4">
            <div class="d-flex flex-column justify-content-center margin-auto text-center pad-phone">
                <h1 class="bold">Past Events</h1>
                <h3>{{ seminars.text_section_two }}</h3>
            </div>
        </div>
        <div class="container margin-auto animate-on-scroll">
            <div class="row">
                <img src="{{ seminars.image_section_two_top_left.url }}"
                     class="col-lg-5 img-about-us rounded mt-3 mx-3"
                     alt="A picture of past Seminars">
                <img src="{{ seminars.image_section_two_top_right.url }}" class="col-lg img-about-us rounded  mt-3"
                     alt="A picture of past Seminars">
            </div>
            <div class="row">
                <img src="{{ seminars.image_section_two_bot_left.url }}"
                     class="col-lg img-about-us rounded mt-3 mx-3"
                     alt="A picture of past Seminars">
                <img src="{{ seminars.image_section_two_bot_right.url }}"
                     class="col-lg-5 img-about-us rounded  mt-3"
                     alt="A picture of past Seminars">
            </div>
        </div>
    </div>
{% endblock content %}