{% extends 'base.html' %}
{% block title %}Seminars | JUMP 2025{% endblock title %}

{% block content %}
    <div class="bg-light d-flex flex-column justify-content-center py-6 animate-on-scroll">
        <div class="d-flex flex-column justify-content-center margin-auto text-center">
            <h1 class="bold">JUMP 2025 Seminars</h1>
            <h3>{{ seminars.text_section_one }}</h3>
        </div>
    </div>
    {% include 'tickets/seminar_list.html' with seminars=seminar_list %}
    <div class="animate-on-scroll py-5 bg-light pxn-5">
        <div class="bg-light d-flex flex-column justify-content-center py-4">
            <div class="d-flex flex-column justify-content-center margin-auto text-center pad-phone">
                <h1 class="bold">Past Events</h1>
                <h3>{{ seminars.text_section_two }}</h3>
            </div>
        </div>
        <div class="container margin-auto animate-on-scroll">
            <div class="row">
                <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-inner">
                        {% for image in images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image.url }}" class="d-block carousel-custom-width"
                                     alt="A picture of past Seminars">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}