{% extends 'base.html' %}
{% load static %}
{% block title %}Workshops | JUMP 2025{% endblock title %}

{% block content %}
    <div class="bg-light d-flex flex-column justify-content-center py-6 animate-on-scroll">
        <div class="d-flex flex-column justify-content-center margin-auto text-center pad-phone">
            <h1 class="bold">JUMP 2025 Workshops</h1>
            <h3>{{ workshops.text_section_one }}</h3>
        </div>
    </div>
    {% include 'tickets/seminar_list.html' with seminars=seminar_list %}
    <div class="animate-on-scroll py-5 bg-light pxn-5">
        <div class="bg-light d-flex flex-column justify-content-center py-4">
            <div class="d-flex flex-column justify-content-center margin-auto text-center pad-phone">
                <h1 class="bold">Past Events</h1>
                <h3>{{ workshops.text_section_two }}</h3>
            </div>
        </div>
        <div class="container margin-auto animate-on-scroll">
            <div class="row">
                <img src="{{ workshops.image_section_two_top_left.url }}" class="col-lg-5 img-about-us rounded mt-3 mx-3" alt="A picture of past Seminars">
                <img src="{{ workshops.image_section_two_top_right.url }}" class="col-lg img-about-us rounded mt-3" alt="A picture of past Seminars">
            </div>
            <div class="row">
                <img src="{{ workshops.image_section_two_bot_left.url }}" class="col-lg img-about-us rounded mt-3 mx-3" alt="A picture of past Seminars">
                <img src="{{ workshops.image_section_two_bot_right.url }}" class="col-lg-5 img-about-us rounded  mt-3"
                     alt="A picture of past Seminars">
            </div>
        </div>
    </div>
{% endblock content %}