{% load custom_filters %}
{% block head %}
    <script>
        $(document).ready(function () {
            let currentPage = 1;
            let searchTimeout;

            function loadSeminars(page, query = '') {
                $.ajax({
                    url: "{% url 'seminar_list' %}",
                    type: 'GET',
                    data: {
                        'page': page,
                        'search': query,
                    },
                    success: function (response) {
                        const newContent = $(response).find('#seminar-list').html();
                        if (newContent.trim() === "" && query === "") {
                            currentPage = 1;
                            loadSeminars(currentPage);
                        } else {
                            $('#seminar-list').html(newContent);
                            updateButtons(page);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            }

            function updateButtons(page) {
                $.ajax({
                    url: "{% url 'seminar_list' %}",
                    type: 'GET',
                    data: {
                        'page': page,
                    },
                    success: function (response) {
                        const has_next = $(response).find('#next-btn').prop('disabled');
                        const has_previous = $(response).find('#prev-btn').prop('disabled');
                        $('#next-btn').prop('disabled', has_next);
                        $('#prev-btn').prop('disabled', has_previous);
                    }
                });
            }

            $('#next-btn').click(function () {
                currentPage++;
                loadSeminars(currentPage);
            });

            $('#prev-btn').click(function () {
                if (currentPage > 1) {
                    currentPage--;
                    loadSeminars(currentPage);
                }
            });


            $('#seminar-search').on('input', function () {
                clearTimeout(searchTimeout);
                const query = $(this).val().trim();

                if (query) {
                    currentPage = 1;
                    loadSeminars(currentPage, query);
                } else {
                    searchTimeout = setTimeout(function () {
                        loadSeminars(currentPage);
                    }, 500);
                }
            });
        });
    </script>
{% endblock head %}


<style>
    .placeholder {
        visibility: hidden;
    }
</style>
<div id="scroll_here" class="animate-on-scroll container py-6 pad-phone">
    <div class="row mb-4">
        <div class="col-12">
            <input type="text" id="seminar-search" class="form-control" placeholder="Search seminars...">
        </div>
    </div>
    <div class="row" id="seminar-list">
        {% for seminar in seminar_list %}
            <li class="col-lg mt-r-3" style="list-style-type: none;">
                <a href="{% url 'seminar_detail' seminar.id %}" style="color: black">
                    <div class="zoom-effect-container">
                        {% if seminar.image %}
                            <img src="{{ seminar.image.url }}" alt="A picture of the seminar/workshop"
                                 class="img-fluid rounded-4"
                                 alt="Jakarta Urology Medical Update Workshop past events documentations"
                                 width="100%"
                                 height="600px" loading="lazy" style="max-height: 500px">
                        {% else %}
                            <p>Image not Found</p>
                        {% endif %}
                    </div>
                    <h4 style="font-weight: bold; text-align: center">{{ seminar.title }}</h4>
                </a>
            </li>
        {% endfor %}
        {% for i in num_placeholders|range_filter %}
            <li class="col-lg placeholder" style="list-style-type: none; width: 25%;"></li>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center mt-4">
        <button id="prev-btn" class="btn btn-outline-primary me-2"
                {% if not seminar_list.has_previous %}disabled{% endif %}>Previous
        </button>
        <button id="next-btn" class="btn btn-outline-primary" {% if not seminar_list.has_next %}disabled{% endif %}>
            Next
        </button>
    </div>
</div>

