{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block title %}
    SciCom Submission
{% endblock title %}

{% block content %}
    <!-- Banner / Hero Section (optional) -->
    <div
            class="position-relative"
            style="
      background: linear-gradient(180deg, #ffa90a, #ff1d8e);
      height: 400px;
      width: 100%;
    "
    >
    </div>

    <div class="container py-4">
    <div class="card mx-auto" style="max-width:600px;">
      <div class="card-body">
        <h2>Submit Presentation and E-Poster Submission</h2>
        <p class="text-muted">Deadline June 22nd 2025 23:59 (GMT+7)</p>
        <form method="POST">{% csrf_token %}{{ form|crispy }}
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
